extends index.pug

block content 
    h1(class='heading center') About me
    p(class='wrap') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, maiores in asperiores, qui praesentium fuga beatae repellendus ipsa mollitia, assumenda debitis vero incidunt architecto. Quas dignissimos architecto ratione rem nemo.
    
