html
  head
    title= title
    include adminViews/head
    link(rel="stylesheet", href="/css/style.css")
    //- link(rel="stylesheet", href="/icon/css/all.css")
    link(rel="stylesheet", href="/css/animation.css")
  body
    .my-navbar
      li.nav-brand
        a.nav-link(href='/') Meo
      li.nav-item
        a.nav-link.active(href='/') Homepage
      li.nav-item
        a.nav-link(href='/posts') Posts
      li.nav-item
        a.nav-link(href='/account') Account
      li.nav-item
        a.nav-link(href='/account/register') Register
    block content

    block script
      script(src="/js/tags.js")
      <!-- jQuery -->
      script(src="/plugins/jquery/jquery.min.js")
      <!-- Bootstrap -->
      script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
      <!-- Ekko Lightbox -->
      script(src="/plugins/ekko-lightbox/ekko-lightbox.min.js")
      <!-- AdminLTE App -->
      script(src="/dist/js/adminlte.min.js")
      <!-- Filterizr-->
      //- script(src="/plugins/filterizr/jquery.filterizr.min.js")
      <!-- AdminLTE for demo purposes -->
      script(src="/dist/js/demo.js")
      script.
        $(function () {
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
        alwaysShowClose: true
        });
        });
        $('.filter-container').filterizr({gutterPixels: 3});
        $('.btn[data-filter]').on('click', function() {
        $('.btn[data-filter]').removeClass('active');
        $(this).addClass('active');
        });
        })
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async="")
