html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/icon/css/all.css")
    link(rel="stylesheet", href="/css/animation.css")
  body
    .navbar
      li.nav-brand
        a.nav-link(href='/') Meo
      li.nav-item
        a.nav-link.active(href='/') Homepage
      li.nav-item
        a.nav-link(href='/todo') Todolist
      li.nav-item
        a.nav-link(href='/posts') Post
      li.nav-item
        a.nav-link(href='/account') Login
      li.nav-item
        a.nav-link(href='/about') About
    block content
    script(src='/js/clickEvent.js')
      