extends index.pug

block content   
	section#todoUI.flex.slide-in-fwd-center
		.todoInputWrap.tracking-in-expand
			p=username
			h1.heading What's your plan today ?
			form(action='/todo/addTask' method='GET')
				.form-control
					input(type='text' placeholder='Your input here...' name='task')
					button.btn
						i.fal.fa-plus
		.todoRenderList.slide-top
			ul.list
				each task in data
					li.list-item.flex
						.item.action
							a(href=`todo/completeTask?id=${task._id}`) 
								i.fal.fa-circle.completeTaskButton
						.item.text
							a(href=`todo/detailTask?id=${task._id}`)=task.task

								
						

						


			
			


		