extends index.pug 

block content 
    a(href="/users/new") 
        button(type="submit" class='newUser btn btn-primary') New User
    table.table.table-bordered.table-striped 
        thead
        tbody
            tr.table-active
                th ID
                th Name
                th Email 
                th Action
            each user in data  
                    tr
                        td
                            a(href=`/users/detail?id=${user._id}`)=user._id
                        td
                            a(href=`/users/detail?id=${user._id}`)=user.name
                        td
                            a(href=`/users/detail?id=${user._id}`)=user.email
                        td 
                            a(href=`/users/delete?id=${user._id}`) 
                                button Delete