:root {
  --bg: #0e153a;
  --bg0: #3d5af1;
  --bg1: #e2f3f5; 
  --bg2: #22d1ee;
  --color: #f9ff21;
  --color1: #22eaaa;
  --color2: #fc5185;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: 'Noto sans';
}

a{
  text-decoration: none;
}
.ekko-lightbox-container{
  height: 100% !important;
}
.ekko-lightbox-container img{
  width: 100% !important;
}
.modal-content{
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.title{
  font-weight: bold;
  margin: 1em 0;
}

.my-navbar{
  width: 100%;
  height: auto;
  /* padding: 1em 0; */
  background: var(--bg);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
.my-navbar .nav-item, .nav-brand{
  width: 20%;
  text-align: center;
}
.my-navbar .nav-item > .nav-link,
.my-navbar .nav-brand > .nav-link{
  color: white;
  padding: .5em 0;
}
.nav-brand > .nav-link{
  font-family: 'Researcher';
  text-transform: uppercase;
  font-size: 2.5em;
}
.nav-item > .nav-link.active{
  background: var(--bg0);
  padding: .5em .5em;
  border-radius: 1em 0 1em 0;
}
.heading{
  text-align: center;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.f-start{
  align-items: flex-start;
}
section{
  margin: 3em 0;
}

section#todoUI{
  width: 100%;
  height: 200px;
  text-align: center;
}
section#todoUI.flex{
  align-items: flex-start;
}
input[type='text'], 
input[type='password'],
textarea{
  width: 100%;
  padding: .5em;
  outline: none;
  font-size: 1.3em;
  border-radius: 2em;
  border: 3px solid var(--bg0);
}
input::placeholder{
  font-size: .8em;
}
.btn{
  border: none;
  /* background: var(--bg0); */
  border-radius: 1em;
  color: white;
  /* padding: 1em; */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.btn > i{
  font-size: 2em;
  /* color: var(--bg0); */
  cursor: pointer;
}
.b1{
  background: var(--bg);
}
.b2{
  background: var(--bg2);
}
.b3{
  background: var(--color);
}
.todoInputWrap{
  width: 50%;
}
.form-control{
  position: relative;
}
.form-control input{
  width: 70%;
}
.todoInputWrap .btn{
  background: transparent;
  position: absolute;
  top: 10%;
  right: 15%;
}
.todoInputWrap i{
  transition: .25s ease-in;
}
.todoInputWrap .btn:hover i{
  color: var(--bg);
}

.todoRenderList{
  text-align: left;
  width: 50%;
}
.list{
  list-style: none;
}
.list .list-item{
  width: 90%;
  margin-bottom: 1.1em;
}
.todoRenderList .list .list-item .item{
  width: 90%;
  text-align: justify;
}
.todoRenderList .list .list-item .item.action{
  width: 10%;
  text-align: center;
}
.todoRenderList .list .list-item .item.item.action .completeTaskButton{
  font-size: 1.5em;
  color: var(--color1);
  cursor: pointer;
}
.todoRenderList .list .list-item .item.item.action .completeTaskButton:hover{
  color: var(--bg0);
}
.todoRenderList .list .list-item .item.text a{
  color: var(--bg);
}

.login-form, .register-form{
  width: 50%;
  padding: 3em 0;
  position: relative;
}
.login-form label,
.register-form label{
  width: 100%;
  display: block;
  padding: 1em 0;
  text-transform: uppercase;
}
.login-form input,
.register-form input{
  width: 100%;
  border-radius: 0 1em 0 0;
}
.login-form .btn,
.register-form .btn{
  background: var(--bg0);
  margin: 1em 0;
  width: 20%;
  color: white;
}
.login-form a,
.register-form a{
  margin: 1em 0;
  width: 80%;
  color: var(--bg0);
}
.login-form .notif,
.register-form .notif{
  width: 50%;
  margin: 0 auto;
  border-radius: .5em;
  text-align: center;
  color: white;
  background: red;
  /* padding: .3em 0; */
  text-transform: uppercase;
  font-weight: bold;
}

.profile{
  width: 30%;
  border: 3px solid var(--bg0);
  padding: 1em;
}
.datalist{
  width: 60%;
  height: 100px;
  padding: 1em;
}
.profile .btn{
  padding: .5em;
  width: 100%;
  text-align: center;
}
.profile .data-block{
  margin: 1em 0;
}
.profile .data-block label{
  margin: 1em 0;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.profile .data-block input{
  font-size: 1.1em;
  border-radius: 0;
  border: 0;
  border-left: 3px solid var(--color1);
}
tr, th, td{
  border: 2px solid var(--bg2);
  padding: .6em 1.3em;
}
tr:first-child{
  background: var(--bg2);
}
tr:first-child td{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.datalist table{
  border-collapse: collapse;
}
.role{
  text-transform: uppercase;
  background: var(--color);
  font-weight: bold;
  text-align: center;
}

.center{
  text-align: center;
}

.new-post-btn{
  position: fixed;
  right: 3%;
  bottom: 5%;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: var(--bg0);
  z-index: 1;
}
.new-post-btn i{
  font-size: 1.3em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.new-post{
  /* width: 90%; */
}
.content-block{
  width: 90%;
  margin-bottom: 1em;
}
.content-block input{
  border-radius: 0;
}
.content-block .author{
  border: 0;
  color: var(--color2);
  padding: 0 .3em;
}
textarea{
  width: 100%;
  height: 500px;
  /* font-size: 1.2em; */
  border-radius: 0;
}
section.content{
  /* background: #000; */
}
.posts{
  width: 100%;
  padding: 0 .5em;
  align-items: flex-start;
}
.post-block{
  margin: 1em 0;
  width: 25%;
  position: relative;
  overflow: hidden;
}
.content .thumbnail{
  width: 100%;
  height: 100%;
}
.content .post-des {
  width: 100%;
  height: auto;
  padding: 0 .6em;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  /* transition: .3s ease-in-out; */
}

.thumbnail img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.post-des .btn{
  padding: .3em 1em;
  border-radius: .5em;
  margin-right: .5em;
}
.post-tags{
  /* padding: .3em 0; */
  /* margin: 1em 0; */
}
.post-tags span{
  margin-bottom: .3em;
}
.post-title{
  color: white;
  text-transform: uppercase;
}
.post-author{
  margin-bottom: 1em;
}
.post-author .date{
  color: white;
}
.author{
  padding-right: .5em;
  color: var(--color2);
}
.listAllImgs{
  width: 100%;
}
.listAllImgs img{
  width: 90%;
}
.sidebar{
  background: #fc5185;
  width: 35%;
}

.back-to-top{
  position: fixed;
  right: 3%;
  bottom: 5%;
  border-radius: 50%;
  padding: 1em;
}
.back-to-top:hover{
  background-color: var(--bg);
  color: white;
}

@media only screen and (max-width: 768px) {
  /* .title{} */
  .btn, .post-author {
    font-size: 2em;
  }
  .content .overlay{
    /* height: 25%; */
  }
  .content .post-des{
    height: auto;
    /* padding: 1em 0; */
  }
  .content .title{
    font-size: 2em;
  }
  .thumbnail img{
    width: 100%;
    height: auto;
    /* object-fit: none; */
  }
  .post-block{
    width: 100%;
  }
  .login-form, .register-form{
    width: 90%;
  }
  .login-form .btn, .register-form .btn{
    width: 100%;
  }
  .question{
    flex-direction: column-reverse;
  }
  .question a{
    text-align: center;
  }
}